################### DirStatsBeat Configuration Example #########################

############################# DirStatsBeat ######################################

dirstatsbeat:
  # Defines how often an event is sent to the output
  period: 10s
  # Defines the monitored path, can a file or a directory
  path: /var/lib
